<a href="https://colab.research.google.com/github/solanods/data_analysis/blob/main/alteracoes_rmops3_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import pandas as pd
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)

from google.colab import drive
drive.mount('/content/drive')

from datetime import date

from re import search

import warnings
warnings.filterwarnings("ignore")

Mounted at /content/drive

In [ ]:
# Carregamento dos dados
arquivo_antigo = '/content/PRMS_01_JAN_2024_terca.xlsm'
arquivo_recent = '/content/PRMS_01_JAN_2024.xlsm'

df_original = pd.read_excel(arquivo_antigo, sheet_name='RMOP')
df_alterado = pd.read_excel(arquivo_recent, sheet_name='RMOP')


colunas_alvo = list(range(327, 359))
df_escalas = pd.read_excel(arquivo_recent, sheet_name='DADOS', usecols=colunas_alvo)
df_escalas = df_escalas.loc[5:200]

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [ ]:
# Funcao limpeza de dados

def tratarDataframe(df):

  # Selecionar colunas de interesse
  df = df.iloc[:,[3,5,6,7,8,11,16,17,18,19]]

  # Renomear colunas
  df = df.rename({'Unnamed: 3': 'DIA',
                  'Unnamed: 5': 'PREVISTO',
                  'Unnamed: 6': 'ESCALA',
                  'Unnamed: 7': 'TOTVS',
                  'Unnamed: 8': 'JORNADA',
                  'Unnamed: 11': 'ENTRADA',
                  'Unnamed: 16': 'CODIGO',
                  'Unnamed: 17': 'DESCRICAO',
                  'Unnamed: 18': 'OBSERVACOES',
                  'Unnamed: 19': 'RE_SGT'}, axis = 1)

  # Remover nan
  df = df.fillna('-')

  # Obter lista com nome de todos operadores
  operadores = []
  for linha in df.index:
    if search ('[A-Z]+', str(df['DIA'][linha])):
      operadores.append(df['DIA'][linha])

  operadores = [operador for operador in operadores if operador.isupper()]

  # Extrair rmop
  i = 3
  j =38
  R = []
  df['NOME'] = ''
  df['RE'] = ''
  for operador in operadores:
    df['NOME'].loc[i:j] = operador
    rmop_operador = df.loc[i:j]
    R.append(rmop_operador)
    df['RE'].loc[i:j] = df['ENTRADA'].loc[i:j].iloc[0]
    i+=66
    j+=66

  return df

In [ ]:
df_original = tratarDataframe(df_original)
df_alterado = tratarDataframe(df_alterado)

In [ ]:
# Criar novo df somente com os índices modificados, ou seja, as diferenças entre ambos
rmops_alterado = pd.concat([df_original,df_alterado]).drop_duplicates(keep=False)

In [ ]:
# Resultado mostra os indices originais e alterados em sequencia
rmops_alterado

,DIA,PREVISTO,ESCALA,TOTVS,JORNADA,ENTRADA,CODIGO,DESCRICAO,OBSERVACOES,RE_SGT,NOME,RE
621,20,TRAB,J5,13-M,14N,20:40:00,-,-,-,-,ANDREI,3552
627,26,TRAB,J5,13-M,03T,13:30:00,-,-,-,-,ANDREI,3552
1018,21,TRAB,MA,3-C,TT1,13:15:00,-,-,-,-,BARCELLOS,542
1277,16,TRAB,EB,2-B,NMR,21:30:00,-,-,-,-,BENHUR DA SILVA,1853
1808,19,FOL,M1,7-G,FOL,,D,Disponível para HE,-,-,CHAVES,3312
1937,16,TRAB,G3,17-Q,02N,21:00:00,-,-,-,-,CLAUDETE,2765
3589,18,FOL,Q6,17-Q,13T,14:20:00,C129,Troca Jorn,POR 21,2934,FROZZA,2451
5105,16,TRAB,G2,17-Q,01N,21:15:00,-,-,-,-,JULIO,1808
5175,20,TRAB,QA,3-C,TPT,13:15:00,-,-,-,-,JUNIOR,2426
5176,21,TRAB,QA,3-C,TPT,13:15:00,-,-,-,-,JUNIOR,2426
5303,16,TRAB,OA,9-I,TNH,13:15:00,-,-,-,-,KARINA,2938
5639,22,FOL,J4,13-M,FOL,,-,-,-,-,LARISSA,3315
5643,26,TRAB,J4,13-M,02T,14:00:00,-,-,-,-,LARISSA,3315
5701,18,TRAB,KA1,5-E,25T,12:00:00,-,-,-,-,LEAL,244
6495,20,TRAB,O4,3-C,08N,22:20:00,-,-,-,-,MARIO,3728
6623,16,TRAB,Q3,17-Q,12N,23:10:00,-,-,-,-,MARTA,1425
6759,20,TRAB,KA,5-E,TNH,13:15:00,-,-,-,-,MAURICIO,2945
7284,17,TRAB,E5,3-C,16M,05:10:00,-,-,-,-,NUNES,3754
7350,17,FOL,F5,1-A,FOL,,-,-,-,-,OLIVEIRA,1603
7361,28,TRAB,F5,1-A,12M,05:20:00,-,-,-,-,OLIVEIRA,1603
8933,16,TRAB,LA,7-G,TPT,13:15:00,-,-,-,-,SHAYENE,2906
9133,18,FOL,L3,9-I,FOL,,-,-,-,-,SIMONE,3142
9594,17,TRAB,E3,3-C,19M,06:55:00,-,-,-,-,VALDIR,592
9861,20,FOL,M5,7-G,FOL,,D,Disponível para HE,-,-,VANDERLEI,1539
621,20,TRAB,J5,13-M,08N,22:20:00,C083,Troca Missão,MARIO,2934,ANDREI,3552
627,26,TRAB,J5,13-M,02T,14:00:00,C083,Troca Missão,LARISSA,2934,ANDREI,3552
1018,21,TRAB,MA,3-C,TPT,13:15:00,C083,Troca Missão,nec oper C083 Junior,2934,BARCELLOS,542
1277,16,TRAB,EB,2-B,NMR,21:30:00,-,-,Esquecimento registro de entrada,1853,BENHUR DA SILVA,1853
1808,19,FOL,M1,7-G,30T,12:00:00,HEFT,HE folga TARDE,nec oper furo de escala,2934,CHAVES,3312
1937,16,TRAB,G3,17-Q,02N,21:00:00,C300,HE extensão jor,DEVIDO CONDIÇÕES CLIMATICAS,1853,CLAUDETE,2765
3589,18,FOL,Q6,17-Q,25T,12:00:00,C129,Troca Jorn,POR 21 + C083 LEAL,2934/2906,FROZZA,2451
5105,16,TRAB,G2,17-Q,01N,21:15:00,C300,HE extensão jor,devido as condições climaticas,1853,JULIO,1808
5175,20,TRAB,QA,3-C,TA4,08:00:00,C083,Troca Missão,nec oper TRN,2934,JUNIOR,2426
5176,21,TRAB,QA,3-C,TA4,08:00:00,C083,Troca Missão,nec oper TRN,2934,JUNIOR,2426
5303,16,TRAB,OA,9-I,TPT,13:15:00,C083,Troca Missão,SHAYENE,2934,KARINA,2938
5639,22,FOL,J4,13-M,23T,13:10:00,HEFT,HE folga TARDE,nec oper restrição Jubira,2934,LARISSA,3315
5643,26,TRAB,J4,13-M,03T,13:30:00,C083,Troca Missão,ANDREI,2934,LARISSA,3315
5701,18,TRAB,KA1,5-E,13T,14:20:00,C083,Troca Missão,C/ FROZZA,2906,LEAL,244
6495,20,TRAB,O4,3-C,14N,20:40:00,C083,Troca Missão,ANDREI,2934,MARIO,3728
6623,16,TRAB,Q3,17-Q,FAN,COLOCAR,FAN,Lançar em jornada,-,1853,MARTA,1425
6759,20,TRAB,KA,5-E,TPT,13:15:00,C083,Troca Missão,nec oper C083 Junior,2934,MAURICIO,2945
7284,17,TRAB,E5,3-C,19M,06:55:00,C083,Troca Missão,VALDIR,1853,NUNES,3754
7350,17,FOL,F5,1-A,14N,20:50:00,C129,Troca Jorn,por 28 falta efetivo,2906,OLIVEIRA,1603
7361,28,TRAB,F5,1-A,FOL,,C129,Troca Jorn,POR 17,2906,OLIVEIRA,1603
8933,16,TRAB,LA,7-G,TNH,13:15:00,C083,Troca Missão,KARINA,2934,SHAYENE,2906
9133,18,FOL,L3,9-I,07t,12:00:00,HEFT,HE folga TARDE,nec oper furo de escala,2934,SIMONE,3142
9594,17,TRAB,E3,3-C,16M,05:10:00,C083,Troca Missão,NUNES,1853,VALDIR,592
9861,20,FOL,M5,7-G,09T,13:00:00,HEFT,HE folga TARDE,C083 Junior,2934,VANDERLEI,1539

In [ ]:
# Criar campo data
data_atual = date.today()
rmops_alterado['DATA_COLETA_DADO'] = data_atual

In [ ]:
# Salvar no google drive
rmops_alterado.to_excel(f'/content/drive/MyDrive/alteracoesrmop{data_atual}.xlsx')

In [ ]:
# Numero de alteracoes
num_alteracoes = len(rmops_alterado.index)/2

In [ ]:
# String para arquivar
dados = str(data_atual) + '   N°_ALTERACOES: ' + str(int(num_alteracoes))

In [ ]:
dados

'2024-01-17   N°_ALTERACOES: 24'

In [ ]:
# Salvar em arquivo texto
file = open('/content/drive/MyDrive/alteracoes_rmop_contador.txt', 'a')
file.write(dados + '\n')
file.close()

In [ ]:
# Verificar entre jornadas

for i in df_alterado.index:
    if search ('\d{2}T', str(df_alterado['JORNADA'][i])):
      if search ('\d{2}M', str(df_alterado['JORNADA'][i+1])):

        print('VERIFICAR INTERVALO DE 11 HORAS ENTRE JORNADAS\n')

        print('Dia',
              df_alterado['DIA'][i],
              df_alterado['NOME'][i],
              df_alterado['JORNADA'][i],
              df_alterado['ENTRADA'][i])

        print('Dia',
              df_alterado['DIA'][i+1],
              df_alterado['NOME'][i+1],
              df_alterado['JORNADA'][i+1],
              df_alterado['ENTRADA'][i+1])

VERIFICAR INTERVALO DE 11 HORAS ENTRE JORNADAS

Dia 24 MATHEUS 14T 12:00:00
Dia 25 MATHEUS 11M 06:30:00
VERIFICAR INTERVALO DE 11 HORAS ENTRE JORNADAS

Dia 10 RENAN 14T 12:00:00
Dia 11 RENAN 11M 06:30:00
VERIFICAR INTERVALO DE 11 HORAS ENTRE JORNADAS

Dia 23 SHAYENE 21T 12:00:00
Dia 24 SHAYENE 23M 06:30:00

In [ ]:
# Busca escalas dos semanais

print('ESCALAS DOS SEMANAIS SAINDO OU RETORNANDO DE FÉRIAS \n')
for i in range(len(df_escalas.index)):
  if len(df_escalas.iloc[i].unique()) > 2:
    if search('[X|Y]\d{2}', str(df_escalas.iloc[i])):
      print(df_escalas.iloc[i].unique())

ESCALAS DOS SEMANAIS SAINDO OU RETORNANDO DE FÉRIAS

['DENIS' 'X04' 'D6' 'D2' 'PCA' 'FOL']
['DIEGO' 'FER' 'X11']
['FELIPE' 'X05' 'H6' 'C4']
['FREITAS' 'FOL' 'ASS' 'Y03' 'K7' 'K3']
['GARCIA' 'X08' 'C7' 'A2']
['GUILHERME' 'X07' 'I6' 'I4']
['INES MIRANDA' 'FER' 'X09']
['ISABEL' 'X02' 'FER' 'ASS']
['JORGE FILHO' 'R5' 'FER' 'Y05']
['MARIA ROSANE' 'NB' 'FOL' 'FER' 'PCA' 'Y06']
['RAQUEL' 'FOL' 'PCA' 'Y02' 'R5']
['VALDIR' 'X06' 'D7' 'C6' 'E3']
['VALERIA' 'FOL' 'PCA' 'X10']
['VINICIUS' 'L1' 'FER' 'PCA' 'Y04' 'L7']

In [ ]:
# Verificar quem trabalhou no dia anterior

ontem = data_atual.day - 1


realizado_dia = pd.read_excel(arquivo_recent,
                              sheet_name='DADOS',
                              usecols=list(range(24, 57)))

# Selecionar linhas de interesse
realizado_dia = realizado_dia[4:]
realizado_dia.columns = realizado_dia.loc[4]
realizado_dia.drop(4)

# Using set_index() method
realizado_dia = realizado_dia.set_index('MISSAO/DIA')
realizado_dia = realizado_dia[int(ontem)]
realizado_dia = realizado_dia.dropna()
realizado_dia = pd.DataFrame(realizado_dia)

# Filtrar "_" e "FOL"
mascara = realizado_dia[ontem].str.contains("_")==False
df = realizado_dia[mascara]
df = df.drop(index='FOL')
print('MISSÕES E OPERADORES DE ONTEM')
df

MISSÕES E OPERADORES DE ONTEM

                         16
MISSAO/DIA
01M                DA COSTA
02M               CARBONERA
03M                 SILVANA
04M                  CORREA
05M               CAMILOTTI
06M                 VALDOIR
07M                   TELES
08M                  MIRIAN
09M                  FURLAN
10M                 ZULEIKA
11M                  FLAVIA
12M                 ANDRADE
13M                VENHOFEN
14M                 RONALDO
15M                  FRANCO
16M                 CLAUDIA
17M                  SENAIR
18M                  RENATA
19M               GUILHERME
20M                   DIMAS
21M                JONATHAN
22M                  GARCIA
23M                  BOLZAN
24M            INES MIRANDA
26M                 VALERIA
28M                   DIEGO
38M               ROSELAINE
40M                   KAREN
01T                    BACK
02T                   ROQUE
03T                 MIRANDA
04T                 FREITAS
05T                   ROCHA
06T                   MARIO
07T                  FELTES
08T                  BENCKE
09T                  FROZZA
10T                   CESAR
11T                   JONAS
12T                 MATHEUS
13T                 ROBERTO
14T                    ELOY
16T                   DERLI
17T                  ARAUJO
18T                  ANDREI
19T                  FULBER
21T                    JANI
22T                 STEINKE
23T          CLAUDETE MOURA
24T                    EDNA
25T                  AGATHA
27T                  GEORGE
28T                    LEAL
29T                     MAY
30T                OLIVEIRA
01N                   JULIO
02N                CLAUDETE
03N                    NETO
04N             KELY ARAUJO
05N          LETICIA JAQUES
06N                   LIEGE
07N                PRANDINI
08N                  CLOVIS
09N               VANDERLEI
10N                  CHAVES
11N              JEFREMOVAS
13N                GILBERTO
14N               VALLERIUS
15N                  FELIPE
16N                  TUBINO
MMR                   TOLFO
MPT                  RAFAEL
TMR                   ARTUR
TPT                  KARINA
TNH                 SHAYENE
NMR         BENHUR DA SILVA
NPT                NOGUEIRA
NE1                AZAMBUJA
AM1               JAQUELINE
AM2                 JULIANA
AMR1                 CARMEN
AT1                  GISELE
AI1                  ROSANE
AN1                  MARIZA
AN2              ALEXSANDRO
ANR1                   KAUE
FAT                   DENIS
FAN                   MARTA
TA2                  MARCIO
TA4                  JUNIOR
AM1               JAQUELINE
AM2                 JULIANA
AMR1                 CARMEN
AT1                  GISELE
AI1                  ROSANE
AN1                  MARIZA
AN2              ALEXSANDRO
ANR1                   KAUE