<a href="https://colab.research.google.com/github/solanods/data_analysis/blob/main/folha_ponto_cleaner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_excel('folha_mar_editada.xlsx')

In [4]:
df.head()

        DATA  CHAPA  ... Unnamed: 11 Unnamed: 12
0 2022-01-16    247  ...         NaN         NaN
1 2022-01-16    247  ...         NaN         NaN
2 2022-01-16    252  ...         NaN         NaN
3 2022-01-16    252  ...         NaN         NaN
4 2022-01-16    257  ...         NaN         NaN

[5 rows x 13 columns]

In [8]:
df = df.drop(columns = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12'])

In [9]:
df.head()

        DATA  CHAPA                   NOME  ... HORAFIM HORAINICIO  TOTALGERAL
0 2022-01-16    247     CLAUDIO CESAR PAIM  ...   18:00      13:00    05:00:00
1 2022-01-16    247     CLAUDIO CESAR PAIM  ...   21:30      19:00    02:30:00
2 2022-01-16    252       VITOR HUGO TOLFO  ...   09:00      05:30    03:30:00
3 2022-01-16    252       VITOR HUGO TOLFO  ...   14:00      10:00    04:00:00
4 2022-01-16    257  CESAR JOSE TRINTINAIA  ...   00:30      00:00    00:30:00

[5 rows x 9 columns]

In [11]:
df.to_excel('folha_marco.xlsx')